html {
    background-color: rgb(37, 37, 37);
}

.title-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;  
}

.btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display:none;
}
.btn-wrapper input[type=button] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display:none;
}
.btn {
    display: table-cell;
    width: 150px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #ffffff;
    border-radius: 25px;
    outline: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1.15em;  
}
.btn:hover {
    transition: 0.2s ease-in;
    background: #ffffff;
    color: #252525;
    font-weight: bolder;
    
}
.btn:active {
    transition: 0ms;
    border-color: #34c22d;
    background-color: #34c22d;
}

#home-page-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    max-width: 100%;
    max-height: 100%;
    margin-top: 15%;
}
#file-bar-container {
    grid-column-start: 2;
    display:grid;
    grid-template-columns: 20% 60% 20%;
}
#upload-btn {
    grid-column-start: 1;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
}
#file-name {
    grid-column-start: 2;
}
#submit-btn {
    grid-column-start: 3;
}

#analytics-page {
    display: none;
}