/*
    || General page styles
*/

html {
    background-color: #252525;
}

/* | Header styles */

.title-image {
    display: block;

    max-width: 100%;
    max-height: 100%;

    margin: auto;
}

/* | Main button styles */

.btn-wrapper input[type=file], 
.btn-wrapper input[type=button] {
    display:none;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

}

.btn {
    display: table-cell;
    
    width: 150px;
    height: 40px;

    border: 2px solid #e50914;
    border-radius: 25px;

    outline: none;

    color: #e50914;

    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1px;

    font: 1.15em sans-serif;
}
.btn:hover {
    cursor: pointer;

    transition: 0.2s ease-in;

    background: #e50914;

    color: #ffffff;

    font: bolder;
    
}
.btn:active {
    cursor: pointer;

    transition: 0ms;

    border: #ffffff;

    background: #ffffff;
}

#show-label {
    width: 400px !important;
}

/* | Footer styles */

footer {
    display: grid;
    position: absolute;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 5%;

    background-color: #171717;

    grid-template-columns: 50% 50%;
}

.link:hover {
    cursor: pointer;

    opacity: 50%;
}
.link:active {
    cursor: pointer;

    opacity: 0%;
}

#how-to {
    align-self: center;

    color: #ffffff;

    font-family: sans-serif;
    font-size: 1em;

    position: absolute;
    left: 1%;
}

#github-link {
    position: absolute;
    display: grid;
    right: 1%;
    
    height: inherit;

    grid-column: 1;
    grid-template-columns: 175px 32px;
}
#github-image {
    align-self: center;
}
#github-text {
    color: #ffffff;

    font-family: sans-serif;
    font-size: 1em;

    align-self: center;
}


/*
    || Home page styles
*/

#home-page-container {
    display: grid;
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    bottom: 0%;

    grid-template-columns: 20% 60% 20%;

    max-width: 100%;
    max-height: 100%;

    margin: auto;
}

#file-bar-container {
    display:grid;

    grid-column: 2;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 10%;
}

#upload-btn {
    grid-column: 1;
    grid-row: 1;

    display: block;

    max-width: 100%;
    max-height: 100%;

    margin: auto;
}

#file-name-field {
    grid-column: 2;

    text-align: center;
    text-transform: uppercase;

    color:#9c9c9c;

    font-family: sans-serif;
    font-size: 1.15vw;

    border-bottom: 2px solid #9c9c9c;
    
    width: 95%;
    height: 40px;

    margin: auto;
    line-height: 40px;
}

#progress-field {
    grid-column: 2;
    grid-row: 2;

    display: block;

    max-width: 100%;
    max-height: 100%;

    margin: auto;

    padding-top: 10%;

    color: #9c9c9c;

    font-family: sans-serif;
    font-size: 1.15vw;

    text-transform: uppercase;
}

#submit-btn {
    grid-column: 3;
    grid-row: 1;

    margin: auto;
}


#show-btn-home {
    grid-column: 2;
    grid-row: 2;

    display:block;

    max-width: 100%;
    max-height: 100%;

    margin: auto;

    padding-top: 10%;
}

/*
    || Analytics page styles
*/

#analytics-page-container {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    max-height: 95%;

    grid-template-columns: auto;
    grid-template-rows: 7.5% auto;

    margin-left: 0.5%;
    margin-right: 0.5%;
}

#sub-header-container {
    display: grid;

    grid-template-columns: 50% 50%;
}
#show-btn-analytics {
    position: relative;

    justify-self: left;

    align-self: center;
}

#sub-title {
    position: relative;

    justify-self: end;

    align-self: center;
}

#analytics-container {
    display: grid;

    grid-template-columns: 35% 65%;
    grid-template-rows: 50% 50%;

    background-color: #ffffff;
}
#table {
    display: inherit;
    grid-column: 1;
    grid-row: 1;
    background-color: blue;
}
#pie-chart {
    display: inherit;
    grid-column: 1;
    grid-row: 2;
    background-color: blueviolet;
}
#graph-chart {
    display: inherit;
    grid-column: 2;
    grid-row: 1 / 3;
    background-color: chocolate;
}

/*
    || Keyframes
*/

@keyframes wipe-left {
    0% {
        transform: scaleX(0);
        transform-origin: left;
      }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

@keyframes wipe-right {
    0% {
        transform: scaleX(0);
        transform-origin: right;
      }
    50% {
        transform: scaleX(1);
        transform-origin: right;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: left;
    }
    100% {
        transform: scaleX(0);
        transform-origin: left;
    }
}